# **The Spark Foundation Internship Program**

## Data Science and Business analytics Task 3


Exploratory Data Analysisâ€™ on dataset  SampleSuperstore

Import the libraries

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

Reading the data

In [ ]:
data=pd.read_csv("/content/SampleSuperstore.csv")
data.head(10)

Exploratory Data Analysis

Row,column count

In [ ]:
data.shape

Column names

In [ ]:
data.columns

Checking data types of columns

In [ ]:
data.dtypes

Checking for null values

In [ ]:
data.isnull().sum()

There is no missing values in the dataset.

In [ ]:
data['Country'].value_counts()

The data is for US only.So country column is not needed.

Dropping the country column

In [ ]:
data=data.drop('Country',axis=1)
data

Looking for available products

In [ ]:
data['Category'].unique()

Number of products in each category

In [ ]:
data['Category'].value_counts()

Number of sub-categories

In [ ]:
data['Sub-Category'].nunique()


Number of each product in sub-category

In [ ]:
data['Sub-Category'].value_counts()

From the above table we can learn that the store sells more stationary goods

Plotting the relation between category and sub-category

In [ ]:
plt.figure(figsize=(16,8))
plt.bar('Sub-Category','Category',data=data,color='y')
plt.show()

From the above bar-graph we can see that the office more stationary goods can furniture or technology

Plotting pie chart to study sub-category in detail

In [ ]:
plt.figure(figsize=(12,10))
data['Sub-Category'].value_counts().plot.pie(autopct="%1.1f%%")
plt.show()

The pie chart shows binders and papers are the top selling goods
phones are the top selling technology goods

Plottingbar graph to find the profit and sales

In [ ]:
data.groupby('Sub-Category')['Profit','Sales'].agg(['sum']).plot.bar()
plt.title('Total Profit and Sales per Sub-Category')
# plt.legend('Profit')
# plt.legend('Sales')
plt.show()

More profit acquired from copiers, accessories and phones

Count sub-category region-wise

In [ ]:
plt.figure(figsize=(15,8))
sns.countplot(x="Sub-Category", hue="Region", data=data)
plt.show()

From the above graph we can see that West region has most sales and the south region has least sales.


Creating new column named cost

In [ ]:

data['Cost']=data['Sales']-data['Profit']
data['Cost'].head()

In [ ]:
data

Creating new column named profit%

In [29]:
data['Profit %']=(data['Profit']/data['Cost'])*100

In [ ]:
data